<title>{{ title or metadata.title }}</title>
<meta name="description" content="{{ description or metadata.description }}" />
<link rel="canonical" href="https://{{ metadata.domain }}{{ page.url }}" />

<!-- OpenGraph -->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title or metadata.title }}" />
<meta property="og:site_name" content="{{ title or metadata.title }}" />
<meta
  property="og:description"
  content="{{ description or metadata.description }}"
/>
<meta property="og:url" content="https://{{ metadata.domain }}{{ page.url }}" />
<meta property="og:image" content="/img/logo.png" />
<!-- End OpenGraph -->

<!-- Facebook -->
<meta property="fb:app_id" content="{{ metadata.fb_app_id }}" />
<!-- End Facebook -->

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ title or metadata.title }}" />
<meta
  name="twitter:description"
  content="{{ description or metadata.description }}"
/>
<meta name="twitter:image" content="/img/logo.png" />
<!-- End Twitter-->

<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "{{ metadata.gtm_id }}");
</script>
<!-- End Google Tag Manager -->
