<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "components/seo.njk" %}
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <header>{% include "components/header.njk" %}</header>
    <main>{{ content | safe }}</main>
    <footer>{% include "components/footer.njk" %}</footer>
  </body>
</html>
